# NEXUS OS v1.1 — GRUB Boot Configuration
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod all_video
insmod gfxterm

search --no-floppy --label --set=root "TAJAOS_2_0"

menuentry "TajaOS v2.0" {
  linux /boot/vmlinuz boot=live components quiet hostname=tajaos \
    loglevel=3 udev.log_priority=3 rd.systemd.show_status=false \
    noresume noprompt systemd.default_timeout_start_sec=5 \
    modprobe.blacklist=vmwgfx persistent
  initrd /boot/initrd.img
}

menuentry "TajaOS v2.0 (verbose)" {
  linux /boot/vmlinuz boot=live components hostname=tajaos
  initrd /boot/initrd.img
}

menuentry "NEXUS OS 1.1 — RAM Mode (toram)" --class nexus {
    echo "Loading into RAM..."
    linux  /boot/vmlinuz boot=live components toram \
           console=tty1 hostname=nexus noswap
    initrd /boot/initrd.img
}

menuentry "Boot from first hard disk" --class hdd {
    set root=(hd0)
    chainloader +1
}
